<!DOCTYPE html>
<html lang="en">
<head>
<title>Music</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Music template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/public/styles/bootstrap-4.1.2/bootstrap.min.css"> 
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/public/plugins/OwlCarousel2-2.3.4/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/public/plugins/OwlCarousel2-2.3.4/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/public/plugins/OwlCarousel2-2.3.4/animate.css">
<link rel="stylesheet" type="text/css" href="/public/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="/public/styles/responsive.css">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-center">

						<!-- Logo -->
						<div class="logo">
							<a href="#" class="d-flex flex-row align-items-end justify-content-start">
								<span class="logo_bars d-flex flex-row align-items-end justify-content-between"><span></span><span></span><span></span><span></span><span></span></span>
								<span class="logo_text">music</span>
							</a>
						</div>

						<!-- Main Navigation -->
						<nav class="main_nav">
							<ul class="d-flex flex-row align-items-center justify-content-start">
								<li class="active"><a href="index.html">Home</a></li>
								<li><a href="artists.html">Artists</a></li>
								<li><a href="#">Download Music</a></li>
								<li><a href="blog.html">News</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</nav>

						<!-- User area -->
						<div class="log_reg d-flex flex-row align-items-center justify-content-start">
							<ul class="d-flex flex-row align-items-start justify-content-start">
								<li>
									<div class="dropdown">
										<button style = '' class="dropbtn">User</button>
										  <div class="dropdown-content">
										    <p id = 'user_name'></p>
										    <a id='logout' href='/logout'>logout</a>
										  </div>
									</div> 
								</li>
							</ul>

							<!-- Hamburger -->
							<div class="hamburger d-flex flex-column align-items-end justify-content-between"><div></div><div></div><div></div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu">
		<div class="menu_container">
			<div class="menu_background"></div>
			<div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>
			<div class="menu_content d-flex flex-column align-items-center justify-content-start">
				<nav class="menu_nav">
					<ul class="d-flex flex-column align-items-center justify-content-start">
						<li><a href="index.html">Home</a></li>
						<li><a href="artists.html">Artists</a></li>
						<li><a href="#">Download Music</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<!-- Home -->

	<div class="home">
		
		<!-- Home Slider -->
		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">
				
				<!-- Slide -->
				<div class="slide" style = 'align-content:center'>
					<div class="background_image" style="background-image:url(/public/images/index.jpg)"></div>
					<div class="home_container" style = 'text-align:center'>
						<!-- main playlist division -->
						<div style = 'text-align:center'>
							<h1 style='color:white; '>Recommended Songs for You</h1>
						</div>
						<div id = "playlist_area">
						
						</div>						
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Song -->

	<div class="song">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="public/images/song.png" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="song_content">

						<!-- Player -->
						<div class="single_player_container">
							<div class="single_player d-flex flex-row align-items-center justify-content-start">
								<div id="jplayer_1" class="jp-jplayer"></div>
								<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
									<div class="jp-gui jp-interface d-flex flex-lg-row flex-column align-items-start justify-content-start">

										<!-- Player Controls -->
										<div class="player_controls_box d-flex flex-row align-items-start justify-content-start">
											<div class="order-lg-1 order-2">
												<div class="player_title">Currently Playing</div>
												<div class="jp-controls-holder player_controls ml-auto d-flex flex-row align-items-start justify-content-start">
													<button  class="jp-play player_button" id = 'play_button' tabindex="0"></button>
													<input class="jp-next player_button" id = 'next_button' tabindex="0" type="submit" value = ">>" onclick = 'play_next()' style = 'margin-left:15px; color:white; font-size:20px'>
													<input class="player_button" id = 'like_button' onclick = 'liked()' flag = "0" class type="submit" value = "LIKE" style = 'margin-left:10px; color:white; background-color:transparent; text-align: center;'/>
												</div>
											</div>
											<div class="song_image ml-lg-auto order-lg-2 order-1"><img src="/public/images/song_1.jpg" alt=""></div>
										</div>

										<!-- Progress Bar -->
										<div class="player_bars d-flex flex-row align-items-start justify-content-start">
											<div class="player_progress_box">
												<div class="jp-current-time" role="timer" aria-label="time">00:00</div>
												<div class="song_info">
													<div class="jp-artist"  id = "current_song_played"aria-label="title">No One</div>
													<div class="jp-title" aria-label="title"></div>
												</div>
												<div class="jp-progress">
													<div class="jp-seek-bar">
														<div>
															<div class="jp-play-bar"><span></span></div>
														</div>
													</div>
												</div>
												<!--div class="jp-duration ml-auto" role="timer" aria-label="duration">02:33</div-->
											</div>

											<!-- Volume Controls -->
											<div class="jp-volume-controls ml-lg-auto">
												<div class="mute_button">
													<button class="jp-mute" tabindex="0"></button>
												</div>
												<div class="d-flex flex-row align-items-center justify-content-start">
													<div class="jp-volume-bar">
														<div>
															<div class="jp-volume-bar-value"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
									<div class="jp-no-solution">
										<span>Update Required</span>
										To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	
	<!-- Footer -->

	<footer class="footer">
		<div class="background_image" style="background-image:url(/public/images/footer.jpg)"></div>
		<div class="footer_content">
			<div class="container">
				<div class="row">
					<div class="col text-center">

						<!-- Logo -->
						<div class="logo">
							<a href="#" class="d-flex flex-row align-items-end justify-content-start">
								<span class="logo_bars d-flex flex-row align-items-end justify-content-between"><span></span><span></span><span></span><span></span><span></span></span>
								<span class="logo_text">music</span>
							</a>
						</div>

						<!-- Footer Social -->
						<div class="footer_social">
							<ul class="d-flex flex-row align-items-center justify-content-center">
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="footer_bar">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="copyright text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
					</div>
				</div>
			</div>
		</div>
			
	</footer>
</div>

<script src="public/js/jquery-3.3.1.min.js"></script>
<script src="public/styles/bootstrap-4.1.2/popper.js"></script>
<script src="public/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="public/plugins/greensock/TweenMax.min.js"></script>
<script src="public/plugins/greensock/TimelineMax.min.js"></script>
<script src="public/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="public/plugins/greensock/animation.gsap.min.js"></script>
<script src="public/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="public/plugins/OwlCarousel2-2.3.4/owl.carousel.js"></script>
<script src="public/plugins/jPlayer/jquery.jplayer.min.js"></script>
<script src="public/plugins/jPlayer/jplayer.playlist.min.js"></script>
<script src="public/plugins/easing/easing.js"></script>
<script src="public/plugins/progressbar/progressbar.min.js"></script>
<script src="public/plugins/parallax-js-master/parallax.min.js"></script>
<script src="public/plugins/scrollTo/jquery.scrollTo.min.js"></script>
<script src="public/js/custom.js"></script>
<script src="public/js/essentials.js"></script>

</body>
</html>